# Basic dependencies
pip
setuptools
plyfile
cmake
pyhocon
icecream
einops
accelerate
jsonmerge
easydict
iopath
tensorboardx
scikit-image
fvcore
toml
tqdm
gdown
colmap

# Additional packages
pysdf
clean-fid
face-alignment
clip
torchdiffeq
torchsde
resize-right